In [18]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split  
dataset=pd.read_csv(r"D:\MML\fraud detection\creditcard.csv")
dataset.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [19]:
dataset.shape

(284807, 31)

In [20]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [21]:
dataset.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [22]:
 dataset.duplicated().sum()

np.int64(1081)

In [23]:
dataset.drop_duplicates(inplace=True)

In [24]:
dataset.shape

(283726, 31)

In [25]:
dataset.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,283726.000000,283726.000000,283726.000000,283726.000000,283726.000000,283726.000000,283726.000000,283726.000000,283726.000000,283726.000000,...,283726.000000,283726.000000,283726.000000,283726.000000,283726.000000,283726.000000,283726.000000,283726.000000,283726.000000,283726.000000
mean,94811.077600,0.005917,-0.004135,0.001613,-0.002966,0.001828,-0.001139,0.001801,-0.000854,-0.001596,...,-0.000371,-0.000015,0.000198,0.000214,-0.000232,0.000149,0.001763,0.000547,88.472687,0.001667
std,47481.047891,1.948026,1.646703,1.508682,1.414184,1.377008,1.331931,1.227664,1.179054,1.095492,...,0.723909,0.724550,0.623702,0.605627,0.521220,0.482053,0.395744,0.328027,250.399437,0.040796
min,0.000000,-56.407510,-72.715728,-48.325589,-5.683171,-113.743307,-26.160506,-43.557242,-73.216718,-13.434066,...,-34.830382,-10.933144,-44.807735,-2.836627,-10.295397,-2.604551,-22.565679,-15.430084,0.000000,0.000000
25%,54204.750000,-0.915951,-0.600321,-0.889682,-0.850134,-0.689830,-0.769031,-0.552509,-0.208828,-0.644221,...,-0.228305,-0.542700,-0.161703,-0.354453,-0.317485,-0.326763,-0.070641,-0.052818,5.600000,0.000000
50%,84692.500000,0.020384,0.063949,0.179963,-0.022248,-0.053468,-0.275168,0.040859,0.021898,-0.052596,...,-0.029441,0.006675,-0.011159,0.041016,0.016278,-0.052172,0.001479,0.011288,22.000000,0.000000
75%,139298.000000,1.316068,0.800283,1.026960,0.739647,0.612218,0.396792,0.570474,0.325704,0.595977,...,0.186194,0.528245,0.147748,0.439738,0.350667,0.240261,0.091208,0.078276,77.510000,0.000000
max,172792.000000,2.454930,22.057729,9.382558,16.875344,34.801666,73.301626,120.589494,20.007208,15.594995,...,27.202839,10.503090,22.528412,4.584549,7.519589,3.517346,31.612198,33.847808,25691.160000,1.000000

In [26]:
dataset['Class'].value_counts()

Class
0    283253
1       473
Name: count, dtype: int64

In [27]:
dataset['Class'].value_counts(normalize=True) * 100

Class
0    99.83329
1     0.16671
Name: proportion, dtype: float64

In [32]:
legitimate = dataset[dataset['Class'] == 0]
fraud = dataset[dataset['Class'] == 1]
legitimate.shape

(283253, 31)

In [33]:
fraud.shape

(473, 31)

In [35]:

legitimate['Amount'].describe()

count    283253.000000
mean         88.413575
std         250.379023
min           0.000000
25%           5.670000
50%          22.000000
75%          77.460000
max       25691.160000
Name: Amount, dtype: float64

In [36]:
fraud['Amount'].describe()

count     473.000000
mean      123.871860
std       260.211041
min         0.000000
25%         1.000000
50%         9.820000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [37]:
dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94835.058093,0.013439,-0.009829,0.012853,-0.010440,0.006769,0.001251,0.010447,-0.002448,0.002613,...,-0.000489,-0.00115,-0.000160,0.000360,0.000393,-0.000301,0.000065,0.001409,0.000418,88.413575
1,80450.513742,-4.498280,3.405965,-6.729599,4.472591,-2.957197,-1.432518,-5.175912,0.953255,-2.522124,...,0.405043,0.46655,0.086639,-0.096464,-0.106643,0.040615,0.050456,0.213774,0.078270,123.871860

In [45]:
legitimate_sample=legitimate.sample(n=473)
legitimate_sample.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
275366,166497.0,2.069706,-0.950600,-0.421088,-0.517611,-1.061008,-0.270327,-0.974688,0.059705,-0.196346,...,-0.591490,-1.216312,0.466770,-0.403161,-0.765846,0.234647,-0.023013,-0.050854,21.49,0
95928,65531.0,-0.275338,0.973317,1.336548,0.485929,0.204261,-0.955948,0.603334,-0.152652,-0.664599,...,-0.143584,-0.420306,0.063512,0.362499,-0.713173,0.086180,0.136909,0.178064,0.89,0
34861,37856.0,-0.504457,0.252410,1.270499,-2.328149,0.344970,0.340611,0.297196,0.145296,-1.619103,...,-0.144398,-0.712355,-0.338415,-1.439293,0.432237,-0.511216,0.009014,0.035186,25.85,0
193251,130058.0,1.970262,-1.239786,-0.505245,-0.935140,-1.111739,-0.294501,-1.007583,-0.053879,-0.274633,...,0.493890,1.295593,-0.006678,-0.264743,-0.187051,-0.078685,0.002155,-0.040291,100.00,0
38233,39305.0,0.860659,-0.514277,1.151125,1.132799,-1.097562,0.216735,-0.702654,0.387771,0.559288,...,0.259388,0.442888,-0.048738,0.167652,0.111360,-0.368582,0.044379,0.044533,118.29,0

In [46]:
fraud.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
541,406.0,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1
623,472.0,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1
4920,4462.0,-2.303350,1.759247,-0.359745,2.330243,-0.821628,-0.075788,0.562320,-0.399147,-0.238253,...,-0.294166,-0.932391,0.172726,-0.087330,-0.156114,-0.542628,0.039566,-0.153029,239.93,1
6108,6986.0,-4.397974,1.358367,-2.592844,2.679787,-1.128131,-1.706536,-3.496197,-0.248778,-0.247768,...,0.573574,0.176968,-0.436207,-0.053502,0.252405,-0.657488,-0.827136,0.849573,59.00,1
6329,7519.0,1.234235,3.019740,-4.304597,4.732795,3.624201,-1.357746,1.713445,-0.496358,-1.282858,...,-0.379068,-0.704181,-0.656805,-1.632653,1.488901,0.566797,-0.010016,0.146793,1.00,1

In [47]:
new_dataset = pd.concat([legitimate_sample, fraud], axis=0)
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
275366,166497.0,2.069706,-0.950600,-0.421088,-0.517611,-1.061008,-0.270327,-0.974688,0.059705,-0.196346,...,-0.591490,-1.216312,0.466770,-0.403161,-0.765846,0.234647,-0.023013,-0.050854,21.49,0
95928,65531.0,-0.275338,0.973317,1.336548,0.485929,0.204261,-0.955948,0.603334,-0.152652,-0.664599,...,-0.143584,-0.420306,0.063512,0.362499,-0.713173,0.086180,0.136909,0.178064,0.89,0
34861,37856.0,-0.504457,0.252410,1.270499,-2.328149,0.344970,0.340611,0.297196,0.145296,-1.619103,...,-0.144398,-0.712355,-0.338415,-1.439293,0.432237,-0.511216,0.009014,0.035186,25.85,0
193251,130058.0,1.970262,-1.239786,-0.505245,-0.935140,-1.111739,-0.294501,-1.007583,-0.053879,-0.274633,...,0.493890,1.295593,-0.006678,-0.264743,-0.187051,-0.078685,0.002155,-0.040291,100.00,0
38233,39305.0,0.860659,-0.514277,1.151125,1.132799,-1.097562,0.216735,-0.702654,0.387771,0.559288,...,0.259388,0.442888,-0.048738,0.167652,0.111360,-0.368582,0.044379,0.044533,118.29,0

In [48]:
new_dataset['Class'].value_counts()

Class
0    473
1    473
Name: count, dtype: int64

In [50]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,98358.784355,0.018393,-0.074468,-0.068330,0.019381,0.062018,-0.024195,0.004718,0.066785,-0.028919,...,0.032186,0.052083,-0.018460,0.058898,-0.006140,-0.016452,0.006249,0.008926,-0.012423,91.211564
1,80450.513742,-4.498280,3.405965,-6.729599,4.472591,-2.957197,-1.432518,-5.175912,0.953255,-2.522124,...,0.405043,0.466550,0.086639,-0.096464,-0.106643,0.040615,0.050456,0.213774,0.078270,123.871860

In [54]:
# splitting the data 
x=new_dataset.drop(columns=('Class'), axis=1)
x.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
275366,166497.0,2.069706,-0.950600,-0.421088,-0.517611,-1.061008,-0.270327,-0.974688,0.059705,-0.196346,...,-0.579243,-0.591490,-1.216312,0.466770,-0.403161,-0.765846,0.234647,-0.023013,-0.050854,21.49
95928,65531.0,-0.275338,0.973317,1.336548,0.485929,0.204261,-0.955948,0.603334,-0.152652,-0.664599,...,0.111201,-0.143584,-0.420306,0.063512,0.362499,-0.713173,0.086180,0.136909,0.178064,0.89
34861,37856.0,-0.504457,0.252410,1.270499,-2.328149,0.344970,0.340611,0.297196,0.145296,-1.619103,...,0.159658,-0.144398,-0.712355,-0.338415,-1.439293,0.432237,-0.511216,0.009014,0.035186,25.85
193251,130058.0,1.970262,-1.239786,-0.505245,-0.935140,-1.111739,-0.294501,-1.007583,-0.053879,-0.274633,...,0.244912,0.493890,1.295593,-0.006678,-0.264743,-0.187051,-0.078685,0.002155,-0.040291,100.00
38233,39305.0,0.860659,-0.514277,1.151125,1.132799,-1.097562,0.216735,-0.702654,0.387771,0.559288,...,-0.039528,0.259388,0.442888,-0.048738,0.167652,0.111360,-0.368582,0.044379,0.044533,118.29

In [53]:
y=new_dataset['Class']
y.head(5)

275366    0
95928     0
34861     0
193251    0
38233     0
Name: Class, dtype: int64

In [57]:
#split data into test and train 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42, stratify=y)

In [59]:
print(x.shape, x_train.shape, x_test.shape)

(946, 30) (756, 30) (190, 30)

In [61]:
# train model using loastic regression
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train,y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [66]:
x_predict = lr.predict(x_train)
lr_acc = accuracy_score(y_train, x_predict)
print("Training Accuracy:", lr_acc)

test_acc = accuracy_score(y_test, lr.predict(x_test))
print("Test Accuracy:", test_acc)

Training Accuracy: 0.9404761904761905
Test Accuracy: 0.9421052631578948

In [70]:
sample_data =  [[0,-1.3598071336738,-0.0727811733098497,2.53634673796914,1.37815522427443,
         -0.338320769942518,0.462387777762292,0.239598554061257,0.0986979012610507,
         0.363786969611213,0.0907941719789316,-0.551599533260813,-0.617800855762348,
         -0.991389847235408,-0.311169353699879,1.46817697209427,-0.470400525259478,
         0.207971241929242,0.0257905801985591,0.403992960255733,0.251412098239705,
         -0.018306777944153,0.277837575558899,-0.110473910188767,0.0669280749146731,
         0.128539358273528,-0.189114843888824,0.133558376740387,-0.0210530534538215,
         149.62]]
transaction_df = pd.DataFrame(transaction_data, columns=x_train.columns)
prediction = lr.predict(transaction_df)
print("Prediction:", prediction[0])

Prediction: 0